
.bg-especial{
    background-color: #39B4E2;
   
    color: white;
}

.text8{
    font-size: 10px !important;
}

.textfactor{
    font-size: 12px !important;
}

.bg-elinox{
    background-color: #00ade2;
    border-color: #00ade2;
}