.bg-primary{
    color: white;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5%;
}

.container {
    overflow-y: auto;
    height: 100vh;
    width: 100%;
}

.text-8{
    font-size: 10px !important;
}