.bg-primary{
    color: white;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1%;
}

.container {
    overflow-y: auto;
    height: 100vh;
}

.text-8{
    font-size: 10px;
}

.text-10{
    font-size: 12px;
}